Improve RFC compliance

See VLIZ feedback.

- [RFC 5829 Link Relation Types for Simple Version Navigation between Web Resources](https://www.rfc-editor.org/info/rfc5829)
- [RFC 8288 Web Linking](https://www.rfc-editor.org/info/rfc8288)
- [RFC 8631 link relations for webservices](https://www.rfc-editor.org/info/rfc8631)
- [RFC 9264 Linksets](https://www.rfc-editor.org/info/rfc9264)
- [RFC 9727 api-catalog](https://www.rfc-editor.org/info/rfc9727)